# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
# Make sure parrel sync clones are not copied
/LastMinuteJam_clone_0/